@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pacifico&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Tenor+Sans&display=swap");

/* font-family: 'Dancing Script', cursive;
font-family: 'Krub', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Tenor Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #b0c9d1;
  font-family: "Tenor Sans", sans-serif;
}

.page-title {
	font-family: 'Courier New', Courier, monospace;
	letter-spacing: 5px;
}

.rates h2 {
	font-family: 'Courier New', Courier, monospace;
}

.app-container {
  border: 4px dashed #88aab6a4;
  margin: 1rem auto;
  width: 90%;
  min-height: 95vh;
  background: #f9f9f9;
  box-shadow: 1px 3px 8px rgb(155, 155, 155);
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-container {
	display: block;
	text-align: center;
	margin: 1.5rem;
}

/*** Nav Styles *****************************************************************/
.nav, .nav-button, .nav-modal {
  position: fixed;
	z-index: 10;
}
.nav-button {
  font-size: 25px;
  bottom: 5%;
  left: 8%;
  padding: 10px 14px;
  background: #cbd6c7;
  border: none;
  box-shadow: 0px 2px 3px rgb(111, 111, 111);
  border-radius: 50px;
}

.nav-button:hover {
  transition: ease-in-out 0.1s;
  background: #e3ebe0;
}

.nav-modal {
  font-family: "Courier New", Courier, monospace;
  transform: translateY(-55px);
  bottom: 5%;
  left: 8%;
  z-index: 5;
  display: block;
  background: #cbd6c7;
  padding: 10px 50px 20px 20px;
  box-shadow: 0px 2px 3px rgb(111, 111, 111);
  border-radius: 10px;
}

.nav-modal a {
  text-decoration: none;
  color: #000000;
  border-bottom: 2px solid #373737;
}

.nav-modal a:hover {
  transition: ease-in-out 0.1s;
  border-bottom: 2px solid #bd65b0;
}

.nav-modal li {
  padding: 10px 0;
}

.nav-modal ul {
  list-style-type: none;
  font-size: 20px;
}

/*** Home Page Content **********************************************************************/
.home-logo {
  height: 200px;
  position: absolute;
  right: 0;
  padding: 2rem;
}

#hexgrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
}

.hex, .hex1, .hex2, .hex3, .hex6 {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
}

.hex::after, .hex1::after {
  content: "";
  display: block;
  padding-bottom: 86%;
}

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 111%; /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  background-color: #f8ecaf;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000000;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}
.hex, .hex1 {
  background-color: #6289c6;
}

.hex1, form {
  width: auto;
  height: 100%;
  margin: 0;
}

.hex img, .hex1 img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

/*** Contact Page *****************************************************************/
form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1rem;
  background: #d5b2d0;
  border-radius: 20px;
  border: 4px dashed #bd65b06d;
  box-shadow: 1px 3px 8px rgb(155, 155, 155);
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

label.label {
  display: none;
}
input.name-input, input.email-input, .form-text.msg-input {
  font-size: 24px;
  width: 400px;
  padding: 10px 0 10px 8px;
	border-radius: 10px;
	border: 2px solid #bd65b0ce;
  box-sizing: border-box;
}

.form-button {
	width: 400px;
	padding: 8px 20px;
	font-size: 24px;
	border-radius: 10px;
	border: 2px solid #bd65b0ce;
	background: #bd65b0a1;
	letter-spacing: 2px;
	box-shadow: 1px 3px 8px rgb(155, 155, 155);
}

.form-button:hover {
	transition: ease-in-out 0.2s;
	background: #e399d7c6;
	border: 2px solid #bd65b0;
}

input.name-input {
  margin-right: 35px;
}

.contact-link {
  border-bottom: none;
  border-radius: 20px;
  margin-top: 5px;
  border: 2px solid #373737;
  padding: 5px 8px;
  background: #f8ebaf;
}

.contact-link:hover {
  transition: ease-in-out 0.1s;
  background: #f8ecaf;
  border: 2px solid #bd65b0;
}

/*** Rates/About Page *****************************************************************/

.about span p span {
	background: #f8ecaf;
	border-radius: 10px;
	padding: 0 5px;
	margin: 0 2px;
}
.about, .rates {
  display: flex;
  padding: 0 20px 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cat-rates, .dog-rates, .misc-rates {
  text-align: center;
  padding: 80px 30px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 1px 3px 8px rgb(155, 155, 155);
	transition: all 1.5s ease-in-out;
	-webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.cat-rates {
  background: #f8ecaf;
  border: 4px dashed #ffd500ae;
}
.dog-rates {
  background: #efddc8;
  border: 4px dashed #db87087e;
}
.misc-rates {
  height: auto;
  background: #b0c9d1;
  border: 4px dashed #88aab6d1;
}

.cat-rates:hover {
	border: 4px solid #ffd500ae;
}
.dog-rates:hover {
	border: 4px solid #db87087e;
}
.misc-rates:hover {
	border: 4px solid #88aab6d1;
}

/*** Media Queries *****************************************************************/

@media screen and (min-width: 1500px) {
  .app-container {
    max-width: 1500px;
  }
  .page-container {
    align-items: baseline;
    justify-content: space-around;
  }
  .page-title {
    font-size: 4rem;
    padding: 3rem 30rem 5rem;
  }
  .logo {
    height: 260px;
  }
  .home-logo {
    height: 220px;
    padding: 4rem 12%;
  }

  #hexgrid {
    padding-top: 3.5%;
    padding-bottom: 12%;
  }

  .hex, .hex1 {
    width: 25%;
  }
  .hex2 {
    margin-right: 35%;
  }
  .hex3 {
    margin-left: 13.5%;
  }
  .hex6 {
    margin-left: 27%;
  }
  .about, .rates {
    font-size: x-large;
    gap: 4rem;
  }

  .rates p, .about p {
    line-height: 3rem;
  }

  .page-title.rates {
    font-size: 4rem;
  }
  .cat-rates {
    padding: 70px 40px 120px;
    height: 140px;
  }
  .dog-rates {
    padding: 100px 65px 150px;
    margin-top: 5rem;
    margin-left: 7rem;
    height: 180px;
  }

  .misc-rates {
    width: 400px;
    text-align: center;
    padding: 110px 80px;
    margin-right: 18rem;
  }
  .rates h2 {
    padding-bottom: 20px;
  }
  .nav-button {
    font-size: 50px;
    padding: 16px 22px;
  }
  .nav-modal {
    bottom: 12%;
  }
  .nav-modal ul {
    font-size: 30px;
  }
  .about p {
    padding-bottom: 2rem;
    margin: 1rem 7rem 4rem;
  }

  form {
    width: 968px;
    margin: 8rem 0 5rem 0;
    padding: 50px;
  }
  input.name-input, input.email-input {
    width: 412px;
    padding: 10px 0 10px 8px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  input.name-input {
    margin-right: 35px;
  }
  .form-text.msg-input {
    width: 860px;
    padding: 10px 0 10px 8px;
    font-size: 24px;
    overflow: scroll;
    margin-bottom: 20px;
  }

  .form-button {
    width: 860px;
    padding: 8px 20px;
    font-size: 24px;
  }

  .page-title {
    padding: 0;
    display: flex;
    width: auto;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1499px) {
  .page-container {
    align-items: baseline;
    justify-content: space-around;
  }
  .page-title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  .logo {
    height: 260px;
  }
  .home-logo {
    height: 200px;

    padding: 2rem 10%;
  }

  #hexgrid {
    padding-top: 3.5%;
    padding-bottom: 12%;
  }
  .hex, .hex1 {
    width: 25%;
  }
  .hex2 {
    margin-right: 35%;
  }
  .hex3 {
    margin-left: 13.5%;
  }
  .hex6 {
    margin-left: 27%;
  }

  .about, .rates {
    font-size: x-large;
  }

  .rates p, .about p {
    line-height: 3rem;
  }
  .cat-rates {
    padding: 70px 40px 120px;
    height: 140px;
  }
  .dog-rates {
    padding: 100px 50px 150px;
    height: 150px;
    margin-left: 7rem;
  }

  .misc-rates {
    width: 400px;
    padding: 110px 90px;
    margin-right: 8rem;
  }
  .rates h2 {
    padding-bottom: 20px;
  }

  .nav-button {
    font-size: 50px;
    padding: 16px 22px;
  }
  .nav-modal {
    bottom: 12%;
  }
  .nav-modal ul {
    font-size: 30px;
  }
  .about p {
    padding-bottom: 2rem;
    margin: 1rem 5rem 4rem;
  }

  form {
    width: 968px;
    margin: 2rem 0 5rem 0;
    padding: 50px;
  }
  input.name-input, input.email-input {
    width: 412px;
    padding: 10px 0 10px 8px;
    margin-bottom: 20px;
    font-size: 22px;
  }
  input.name-input {
    margin-right: 35px;
  }
  .form-text.msg-input {
    width: 860px;
    padding: 10px 0 10px 8px;
    font-size: 20px;
    overflow: scroll;
    margin-bottom: 20px;
  }

  .form-button {
    width: 860px;
    padding: 8px 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .page-container {
    align-items: baseline;
    justify-content: space-around;
  }
  .page-title {
    font-size: 3.5rem;
  }
  .logo {
    height: 200px;
  }
  .home-logo {
    height: 200px;

    padding: 1rem 5rem;
  }

  #hexgrid {
    padding-top: 2%;
    padding-bottom: 15%;
  }
  .hex, .hex1, .hex6 {
    width: 32%;
  }
  .welcome {
    margin-right: 25%;
  }
  .hex2 {
    margin-left: 18%;
  }
  .hex6 {
    margin-left: 55%;
  }
  .about, .rates {
    font-size: larger;
  }

  .about p {
    line-height: 2rem;
    padding-bottom: 2rem;
    margin: 1rem;
  }

  .cat-rates {
    margin-top: 180px;
    height: 110px;
  }

  .dog-rates {
    padding: 95px 30px;
    margin-top: 2rem;
    margin-left: 7rem;
  }

  .misc-rates {
    width: 340px;
    padding: 100px 40px;
    margin-left: 8rem;
  }

  .rates h2 {
    padding-bottom: 20px;
  }

  form {
    width: 800px;
    margin: 4rem 0;
    padding: 50px;
  }

  span.inputs {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
  input.name-input, input.email-input {
    width: 100%;
    margin: 0;
    font-size: 18px;
  }
  input.name-input {
    margin-right: 10px;
  }
  .form-text.msg-input {
    width: 100%;
    font-size: 18px;
    padding: 10px 0 10px 8px;
    overflow: scroll;
  }

  .form-button {
    width: 100%;
    padding: 8px 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    height: 180px;
  }
  .home-logo {
    height: 160px;

    padding: 1rem 5rem;
  }

  .cat-rates {
    margin-top: 200px;
    padding: 75px 30px;
  }

  .dog-rates {
    padding: 80px 25px;
    margin-left: 1.2rem;
    height: 140px;
  }

  .misc-rates {
    width: 350px;

    padding: 105px 30px;
  }

  .rates h2 {
    padding-bottom: 20px;
  }
  form {
    width: 700px;
  }
}

@media screen and (max-width: 900px) {
  .home-logo {
    height: 150px;
    padding: 1.5rem 4rem;
  }
  #hexgrid {
    padding-top: 2%;
  }

  .rates {
    font-size: large;
  }

  .cat-rates {
    margin-top: 200px;
    height: 90px;
  }

  .dog-rates {
    padding: 90px 25px;
    margin-left: 1.2rem;
    height: 100px;
  }

  .misc-rates {
    width: 350px;
    padding: 95px 20px;
  }

  form {
    width: 100%;
    padding: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .page-container {
    align-items: baseline;
    justify-content: space-around;
  }
  .page-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .logo {
    height: 150px;
  }
  .home-logo {
    height: 130px;

    padding: 1.5rem 3.5rem;
  }
  #hexgrid {
    padding-top: 2%;
  }

  .about, .rates {
    flex-direction: column;
    gap: 3rem;
    width: 90%;
  }

  .cat-rates {
    width: auto;
    text-align: start;
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    border: none;
    border-bottom: #cbd6c7 4px dashed;
    box-shadow: none;
  }

  .dog-rates {
    width: auto;
    margin: 0;
    background: none;
    border-radius: 0;
    padding: 0 0 2rem;
    display: block;
    text-align: end;
    border: none;
    border-bottom: #cbd6c7 4px dashed;
    box-shadow: none;
  }

  .misc-rates {
    width: auto;
    margin: 0;
    text-align: start;
    background: none;
    border-radius: 0;
    padding: 0 0 50px;
    box-shadow: none;
    border: none;
  }

  form {
    padding: 2rem 1.3rem;
    margin: 2.5rem 0;
  }

  input.name-input,
  input.email-input,
  .form-text.msg-input,
  .form-button {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .page-title {
    font-size: 2rem;
  }
  .logo {
    height: 130px;
  }
  .home-logo {
    padding: 3rem 2.5rem;
  }

  #hexgrid {
    padding-bottom: 15%;
  }
  .hex,
  .hex1 {
    width: 38%;
  }
  .welcome {
    margin-right: 19%;
  }
  .hex2 {
    margin-left: 22%;
  }
  .hex5 {
    margin-left: 23%;
  }

  .hex6 {
    margin-left: 45%;
  }
  .rates h2 {
    font-size: 1.5rem;
  }
  span.inputs {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
  }

  form {
    width: 85%;
  }

  input.name-input, input.email-input {
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 8px;
    font-size: 20px;
  }
  input.name-input {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 550px) {
  .page-title {
    font-size: 2rem;
  }
  .home-logo {
    height: 100px;

    padding: 3rem 1.8rem;
  }

  .logo {
    height: 140px;
  }
  #hexgrid {
    padding-top: 2%;
  }

  .hex, .hex1 {
    width: 45%;
  }
}

@media screen and (max-width: 475px) {
  .page-title {
    font-size: 1.8rem;
  }
  .home-logo {
    height: 80px;
    padding: 2.3rem 2rem;
  }

  .logo {
    height: 100px;
  }
  #hexgrid {
    gap: 0.5rem;
  }

  .welcome {
    margin-right: 21%;
  }
  .hex2 {
    margin-left: 24%;
  }
  .hex5 {
    margin-left: 24%;
  }
  .hex6 {
    margin-left: 49%;
  }

  .cat-rates,
  .dog-rates,
  .misc-rates {
    padding: 0 0 2rem 0;
  }

  .rates h2 {
    font-size: 1.5rem;
  }
  .about p {
    line-height: 1.5rem;
    padding-bottom: 1rem;
    margin: 0.8rem;
  }
  input.name-input,
  input.email-input,
  .form-text.msg-input,
  .form-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 385px) {
  .page-title {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .logo {
    height: 80px;
    display: flex;
    justify-content: center;
  }
  .home-logo {
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 2rem 1.5rem;
  }

  .welcome {
    margin-right: 21%;
  }
  .hex2 {
    margin-left: 24%;
  }
  .hex5 {
    margin-left: 24%;
  }
  .hex6 {
    margin-left: 49%;
  }

  .rates {
    gap: 2.3rem;
  }

  .rates p {
    font-size: 0.9rem;
  }

  .about p {
    font-size: 0.9rem;
    margin: 0;
    padding-bottom: 2rem;
  }
  .rates h2 {
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  .cat-rates {
    margin-top: 1rem;
  }
  form {
    width: 98%;
  }
  input.name-input,
  input.email-input,
  .form-text.msg-input,
  .form-button {
    font-size: 12px;
  }
}
